body {
    background: black;
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.container {
    width: 400px;
    margin: auto;
}

.paragraph {
    color: white;
    font-size: 2rem;
}

input {
    width: 100%;
    border-radius: 8px;
    padding: 8px 10px;
    border: 1px solid #eee;
    height: 45px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fff;
    border-radius: 8px;
    width: 100%;
    padding: 8px 15px;
    margin: 5px 0;
}